<% content_for :current_action do %>
  <% if session[:success] %>
    <h2 class="success"><%= session.delete(:success)%></h2>
  <% elsif session[:error] %>
    <h2 class="error"><%= session.delete(:error)%></h2>
  <% end %>
<% end %>

<div class="main-analysis">
  <div class="analysis-card">
    <h3 style="text-align: center;">What is a Check?</h3>
    <p>In the world of Pokemon, a check is a Pokemon who can destroy the opposing Pokemon easily. All Pokemon have checks; it's just about figuring out which ones mesh well together on a team.</p>
    <p>In the following dropdown menu you have the option to pick one Pokemon. When you click "Submit", you will be brought to a page that shows you which Pokemon that the Pokemon you selected is a check for.</p>
    <p style="margin-bottom: 30px;">When creating a team, you want to include Pokemon who have a wide variety of Pokemon and Types that they can provide checks for. For instance, a Pokemon that has great type coverage, like Starmie, can be a potential check for many different Pokemon.</p>
    <div class="first_expl">
      <img style="display: block; float: left; height: 50px; width: 70px; margin-top: 10px;" src="/img/starmie.png">
        <div class="explanation">
          <ul style="list-style-type: none;">
            <li><strong>Ice Beam</strong> <img class="explanation-img" src="/img/ice.png"></li>
            <li><strong>Psychic</strong> <img class="explanation-img" src="/img/psychic.png"></li>
            <li><strong>Thunderbolt</strong> <img class="explanation-img" src="/img/electric.png"></li>
            <li><strong>Hydro Pump</strong> <img class="explanation-img" src="/img/water.png"></li>
          </ul>
        </div>
      </div>
      <p style="text-align: center;">Starmie has <strong>huge</strong> type coverage.</p>
  </div>
<div class="analysis-card">
    <h3 style="text-align: center;">Check Submission</h3>
    <p>There is always room for improvement, especially when it comes to compiling a database of checks and counters. If you have a Pokemon you'd like to submit as a check to another Pokemon, do so here.</p>
    <p>The first box is the Pokemon that will check the second.</p>
    <p>The second box is the Pokemon you would like to add to the checks of the first Pokemon.</p>
    <form action="/submit_check" method="post">
      <strong>Pokemon</strong>: 
      <select name="first_pkmn">

        <% @pkmn_list.each do |pkmn| %>
          <option><%= pkmn %></option>
        <% end %>
      </select>
      <br>
      <strong>Check</strong>:
      <select style="margin-left: 22px;" name="second_pkmn">
        <% @pkmn_list.each do |pkmn| %>
          Counter: <option><%= pkmn.downcase %></option>
        <% end %>
      </select>
      <br>
      <textarea style="resize: none; color: black; font-weight: bolder; border: 2px solid gray;" name="explain" rows="5" cols="60%" maxlength="200" required="required">Explain why in this area. 200 characters max.</textarea>
      <br>
      <br>
      <input style="border: 1px solid gray; display: block; margin: 0 auto; font-weight: bold; " type="submit" value="Submit">
    </form>
  </div>
  <div class="analysis-card">
    <form action="/check_analysis" method="post">
      <strong>Find Checks:</strong>
      <select name="pkmn">
        <% @pkmn_list.each do |pkmn| %>
          <option><%= pkmn.downcase %></option>
        <% end %>
      </select>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>