<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/desktop.css">
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <% if session[:curr_user] %>
          <div class="header_one"><a href="/<%= session[:curr_user] %>/profile">Profile</a></div>
          <div class="header_two">
              <form action="/logout" method="post">
                <input type="submit" value="Sign Out">
              </form>
          </div>
        <% else %>
          <div class="header_one"><a href="/login">Login</a></div>
          <div class="header_two"><a href="/register">Register</a></div>
        <% end %>
      </header>
      <aside class="sidenav">
        <ul class="sidenav_list">
          <li class="sidenav_list-item"><a href="/<%= session[:curr_user] %>/profile">Profile</a></li>
          <li class="sidenav_list-item"><a href="/check_analysis">Check Analysis</a></li>
          <li class="sidenav_list-item"><a href="/counter_analysis">Counter Analysis</a></li>
          <li class="sidenav_list-item"><a href="/articles">Articles</a></li>
          <li class="sidenav_list-item"><a href="/new/article">New Article</a></li>
          <li class="sidenav_list-item"><a href="/new/tournament">New Tournament</a></li>
        </ul>
      </aside>
      <main class="main">
        <div class="session_header"><%= yield_content :session_header %></div>
        <div class="main-header"><%= yield_content :current_action %></div>
        <%= yield %>
      </main>
      <footer class="footer">
        <div class="footer_copyright">&copy; 2019 JM</div>
        <div class="footer_signature">Made with love by JM</div>
      </footer>
    </div>
  </body>
</html>