<% content_for :session_header do %>
  <% if session[:success] %>
    <h2><%= session.delete(:success)%></h2>
  <% elsif session[:error] %>
    <h2><%= session.delete(:error)%></h2>
  <% end %>
<% end %>
<div class="main-cards">
  <div class="card">Card</div>
  <div class="card">
    <h3>Favorite Team</h3>
    <div class="team_grid">
      <% if @curr_user == @profile_user %>
        <% @curr_user.teams[0].pkmn.each do |pkmn| %> 
          <div class="pkmn_img">
            <img style="padding-left: 20px;" src="/img/<%= pkmn %>.png">
          </div>
        <% end %>
      <% else %>
        <% @profile_obj.teams[0].pkmn.each do |pkmn| %> 
          <div class="pkmn_img">
            <img style="padding-left: 20px;" src="/img/<%= pkmn %>.png">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card">
    <% if session[:curr_user] != @profile_user %>
      <a href="/<%= @idx %>/send_message">Send Message</a>
    <% else %>
      <a href="/<%= @idx %>/messages">Check Messages</a>
    <% end %>
  </div>  
</div>