<% content_for :current_action do %>
  <% if session[:success] %>
    <h2 class="success"><%= session.delete(:success)%></h2>
  <% end %>
<% end %>

<div style="font-family: Garamond;" class="main-cards">
  <div class="card">
    <h1 style="text-align: center; font-weight: bold;"><%= session[:curr_user] %></h1>
    <ul class="message_list">
      <li><a href="/send_message">Send Message</a></li>
      <li><a href="/messages">Check Messages</a> </li>
  </ul>
  </div>
  <div class="card">
    <h2>Favorite Team</h3>
    <div class="team_grid">
        <% @curr_user.teams[0].pkmn.each do |pkmn| %> 
          <div class="pkmn_img">
            <img style="padding-left: 20px;" src="/img/<%= pkmn %>.png">
          </div>
        <% end %>
    </div>
  </div>
  <div class="card">
    <h2 style="text-align: center; font-weight: bold;">Current Activity</h2>
    <h3 style="text-align: left; font-weight: bold;">Tournament</h3>
    <% if @curr_user.tourneys.empty? %>
      <p>No tournaments currently.</p>
    <% else %>
      <p><%= @curr_user.tourneys[0] %></p>
    <% end %>
    <h3 style="text-align: left; font-weight: bold;">Article</h3>
      <% if @curr_user.published.empty? %>
        <p>No tournaments currently.</p>
      <% else %>
        <p style="font-style: italic;"><%= @curr_user.published[0] %></p>
      <% end %>
  </div>  
</div>