<% content_for :current_action do %>
  <% if session[:success] %>
    <h2 class="success"><%= session.delete(:success)%></h2>
  <% end %>
<% end %>

<div class="main-cards">
  <div class="card_one">
    <h2>Teambuilder</h2>
    <form action="/register" method="post" class="pkmn_selection">
      <h3>Pokemon 1</h3>
      <select name="first">
        <% @pkmn_list.each do |pkmn| %>
          <option><%= pkmn %></option>
        <% end %>
      </select>
      <h3>Pokemon 2</h3>
      <select name="second">
        <% @pkmn_list.each do |pkmn| %>
          <option><%= pkmn %></option>
        <% end %>
      </select>
      <h3>Pokemon 3</h3>
      <select name="third">
        <% @pkmn_list.each do |pkmn| %>
          <option><%= pkmn %></option>
        <% end %>
      </select>
      <h3>Pokemon 4</h3>
      <select name="fourth">
        <% @pkmn_list.each do |pkmn| %>
          <option><%= pkmn %></option>
        <% end %>
      </select>
      <h3>Pokemon 5</h3>
      <select name="fifth">
        <% @pkmn_list.each do |pkmn| %>
          <option><%= pkmn %></option>
        <% end %>
      </select>
      <h3>Pokemon 6</h3>
      <select name="sixth">
        <% @pkmn_list.each do |pkmn| %>
          <option><%= pkmn %></option>
        <% end %>
      </select> 
  </div> 
  <div class="card_two">
    Username: <input type="text" name="username" required="required">
    <br>
    Password: <input type="password" name="password" required="required">
    <br>
    Confirm Password: <input type="password" name="confirm_pw" required="required">
  </div>  
  <div class="card_three">
    <input style="margin-top: -10px;"type="submit" value="Register">
  </form>
  </div>
</div>
